
/*主导航菜单*/
#menu ul{
	padding:0;
	border:0;
	list-style:none;
	line-height:100%;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 30px;
    margin:0px auto 0px auto;
}
#menu_out{
	width: 100%;
	padding-left:4px;

	margin-right:auto;
	background-color: #5A5A5A;
}
#menu_in{
	background-color: #5A5A5A;
}
#menu{
	margin-left: -10px;
	height:45px;
}
.menu_line{

}
.menu_line2{
}
#nav1{

}
#nav1 li{
	float:left;
	height:35px;
}
#nav1 li a{
	float:left;
	display:block;
	height:33px;
	cursor:pointer;
	text-decoration:none;
    text-align:center;
}
#nav1 li a span{
	float:left;
	padding:0px 14px 0px 10px;
	line-height:50px;
	font-size:16px;
	font-weight:bold;
	color:#C3CDCD;
	text-decoration:none;
}

#nav{
	margin-left: 46px;
}
#nav li{
	float:left;
	height:35px;
}
#nav li a{
	float:left;
	display:block;
	padding-left:6px;
	height:33px;
	cursor:pointer;
	text-decoration:none;
}
#nav li a span{
	float:left;
	padding:0px 14px 0px 10px;
	line-height:50px;
	font-size:16px;
	color:#C3CDCD;
	text-decoration:none;
}
#nav li .nav_on{   /*鼠标经过时变换背景，方便JS获取样式*/
	color: #ffffff;
}
#nav li .nav_on span{  /*鼠标经过时变换背景，方便JS获取样式*/
	color:#ffffff;
	text-decoration:none;
}
/*子栏目*/
#menu_con{
	width: 100%;
	height: 30px;
	text-align:left;
	clear:both;
	border-bottom: 1px solid #E0E0E0;
	background-color: #F9F9F9;
	padding-left: 80px;
}
#menu_con li{
	float:left;
	height:22px;
}
#menu_con li a{
	display:block;
	float:left;
	cursor:pointer;
	padding-left:3px;
}
#menu_con li a span{
	color: #939393;
	font-size: 16px;
	height: 30px;
	float:left;
	padding:0px 10px 0px 10px;
	line-height:30px;
}
#menu_con li a span:hover{
	color: #5B5353;
	text-decoration:none;
	border-bottom: 1px solid #5B5353;
}
#menu_con li a:hover span{
}

#face {
	float: right;
	margin-top: 3px;
	margin-right: 39px;
	cursor: pointer;
}

.create_btn {
	float: right;
	margin-right: 158px;
	margin-top: 2px;
}
